html, body {
   margin: 0;
   padding: 0;
} 

body {
   max-width: 1600px;
}

.content {
   width: 300px;
   margin: 0 auto;
}

.menu {
   margin: 7rem 0 0 0;
   display: flex;
   justify-content: space-between;
   position: relative;
}

.info {
   margin: 1rem 0 0 0;
   display: flex;
   justify-content: space-between;
   padding: 0 2rem;
   align-items: center;
}

#puzzle {
   margin: 1rem 0 0 0;
   width: 300px;
   height: 300px;
   border: 2px solid greenyellow;
   border-radius: 0.5rem;
}

.settings {
   margin: 1rem 0 0 0;
   display: flex;
   justify-content: space-between;
}

.sound {
   width: 2rem;
   height: 2rem;
   cursor: pointer;
}

.sound img{
   width: 100%;
   height: 100%;
}

.sound:hover {
   transform: scale(1.1);
}
.sound:active {
   transform: scale(0.9);
}

.resultsOut{
   padding: 1rem;
   position: absolute;
   right: -4px;
   top: 2rem;
   z-index: 100;
   background-color: white;
   border: 2px solid rgb(107, 0, 107);
   border-radius: 0.5rem;
   display: block;
}

.resultsOut-hidden{
   display: none;
}


