html, body {
   margin: 0;
   padding: 0;
} 

body {
   max-width: 1600px;
}

.content {
   width: 1000px;
   margin: 0 auto;
}

.menu {
   margin: 7rem 0 0 0;
   display: flex;
   justify-content: space-between;
   position: relative;
}

.info {
   margin: 1rem 0 0 0;
   display: flex;
   justify-content: space-between;
   padding: 0 2rem;
   align-items: center;
}

#puzzle {
   margin: 1rem 0 0 0;
   border: 2px solid greenyellow;
   border-radius: 0.5rem;
   width: 1000px;
   height: 1000px;
}

.settings {
   margin: 1rem 0 ;
   display: flex;
   justify-content: space-between;
}

.sound {
   width: 2rem;
   height: 2rem;
   cursor: pointer;
}

.sound img{
   width: 100%;
   height: 100%;
}

.sound:hover {
   transform: scale(1.1);
}
.sound:active {
   transform: scale(0.9);
}

.resultsOut{
   padding: 1rem;
   position: absolute;
   right: -4px;
   top: 2rem;
   z-index: 100;
   background-color: white;
   border: 2px solid rgb(107, 0, 107);
   border-radius: 0.5rem;
   display: block;
}

.resultsOut-hidden{
   display: none;
}

@media (max-width: 1100px) {
   .content {
      width: 900px;
   }
   #puzzle {
      width: 900px;
      height: 900px;
   }
}

@media (max-width: 1000px) {
   .content {
      width: 800px;
   }
   #puzzle {
      width: 800px;
      height: 800px;
   }
}

@media (max-width: 900px) {
   .content {
      width: 700px;
   }
   #puzzle {
      width: 700px;
      height: 700px;
   }
}

@media (max-width: 800px) {
   .content {
      width: 600px;
   }
   #puzzle {
      width: 600px;
      height: 600px;
   }
}

@media (max-width: 700px) {
   .content {
      width: 500px;
   }
   #puzzle {
      width: 500px;
      height: 500px;
   }
}

@media (max-width: 600px) {
   .content {
      width: 400px;
   }
   #puzzle {
      width: 400px;
      height: 400px;
   }
}
@media (max-width: 500px) {
   .content {
      width: 300px;
   }
   #puzzle {
      width: 300px;
      height: 300px;
   }
}